  <fieldset>
    <legend>Where are you living?</legend>

    <input type="radio" name="live-metro" id="live-metro" value="live-metro"><label for="live-metro">Melbourne</label>
    <br>
    <input type="radio" name="live-region" id="live-region" value="live-region"><label for="live-region">Regional Victoria</label>
  </fieldset>
  <fieldset>
