
<fieldset>
  <legend>Gender</legend>

  <input type="radio" name="gender" id="gender-male" value="gender-male"><label for="gender-male">Male</label>
  <br>
  <input type="radio" name="gender" id="gender-female" value="gender-female"><label for="gender-female">Female</label>
  <br>
  <input type="radio" name="gender" id="gender-other" value="gender-other"><label for="gender-other">Other</label>


</fieldset>

  <fieldset>
    <legend>Ages</legend>

    <input type="checkbox" name="ages-1824" id="ages-1824" value="ages-1824"><label for="ages-1824">18 - 24</label>
    <br>
    <input type="checkbox" name="ages-2534" id="ages-2534" value="ages-2534"><label for="ages-2534">25 - 34</label>
  <br>
    <input type="checkbox" name="ages-3544" id="ages-3544" value="ages-3544"><label for="ages-3544">35 - 44</label>
  <br>
    <input type="checkbox" name="ages-4554" id="ages-4554" value="ages-4554"><label for="ages-4554">45 - 54</label>
  <br>
    <input type="checkbox" name="ages-5564" id="ages-5564" value="ages-5564"><label for="ages-5564">55 - 64</label>
  <br>
    <input type="checkbox" name="ages-65" id="ages-65" value="ages-65"><label for="ages-65">65+</label>

  </fieldset>



  <fieldset>
    <legend>Children?</legend>

    <input type="checkbox" name="children-04" id="children-04" value="children-04"><label for="children-04">Under 5 Years Old</label>
  <br>
    <input type="checkbox" name="children-512" id="children-512" value="children-512"><label for="children-512">5 - 12 Years Old</label>
  <br>
    <input type="checkbox" name="children-1318" id="children-1318" value="children-1318"><label for="children-1318">13 - 18 Years Old</label>
  <br>
    <input type="checkbox" name="children-1920" id="children-1920" value="children-1920"><label for="children-1920">19 - 20 Years Old</label>
  <br>
    <input type="checkbox" name="children-25" id="children-25" value="children-25"><label for="children-25">25+ Years Old</label>
  <br>
    <input type="checkbox" name="children-0" id="children-0" value="children-0"><label for="children-0">None</label>
  </fieldset>

  <fieldset>
    <legend>Other</legend>

    <input type="checkbox" name="indigenous" id="indigenous" value="indigenous"><label for="indigenous">indigenous</label>
    <br>
    <input type="checkbox" name="veteran" id="veteran" value="veteran"><label for="veteran">veteran</label>



  </fieldset>
