<fieldset>
  <legend>Immigration Status</legend>
  <label for="immi-citizen">Citizen</label>
  <input type="radio" name="immi-citizen" id="immi-citizen" value="immi-citizen">
  <label for="immi-permanent">Permanent Resident</label>
  <input type="radio" name="immi-permanent" id="immi-permanent" value="immi-permanent">
  <label for="immi-temporary">Temporary Resident</label>
  <input type="radio" name="immi-temporary" id="immi-temporary" value="immi-temporary">
</fieldset>
<fieldset>
  <legend>Are you an Indigenous Australian or Torres Straight Islander?</legend>
  <label for="indigenous">Yes</label>
  <input type="checkbox" name="indigenous" id="indigenous" value="indigenous">
</fieldset>
