
  <fieldset>
    <legend>Ages</legend>
    <label for="ages-1824">18 - 24</label>
    <input type="checkbox" name="ages-1824" id="ages-1824" value="ages-1824">
    <label for="ages-2534">25 - 34</label>
    <input type="checkbox" name="ages-2534" id="ages-2534" value="ages-2534">
    <label for="ages-3544">35 - 44</label>
    <input type="checkbox" name="ages-3544" id="ages-3544" value="ages-3544">
    <label for="ages-4554">45 - 54</label>
    <input type="checkbox" name="ages-4554" id="ages-4554" value="ages-4554">
    <label for="ages-5564">55 - 64</label>
    <input type="checkbox" name="ages-5564" id="ages-5564" value="ages-5564">
    <label for="ages-65">65+</label>
    <input type="checkbox" name="ages-65" id="ages-65" value="ages-65">
  </fieldset>




  <fieldset>
    <legend>Relationship Status</legend>
    <label for="rel-single">Single</label>
    <input type="radio" name="relationship-single" id="rel-single" value="rel-single">
    <label for="rel-married">Married</label>
    <input type="radio" name="relationship-married" id="rel-married" value="rel-married">
    <label for="rel-defacto">De Facto Relationship</label>
    <input type="radio" name="relationship-defacto" id="rel-defacto" value="rel-defacto">
  </fieldset>


  <fieldset>
    <legend>Children?</legend>
    <label for="children-04">Under 5 Years Old</label>
    <input type="checkbox" name="children-04" id="children-04" value="children-04">
    <label for="children-514">5 - 14 Years Old</label>
    <input type="checkbox" name="children-514" id="children-514" value="children-514">
    <label for="children-1518">15 - 18 Years Old</label>
    <input type="checkbox" name="children-1518" id="children-1518" value="children-1518">
    <label for="children-1922">19 - 22 Years Old</label>
    <input type="checkbox" name="children-1922" id="children-1922" value="children-1922">
    <label for="children-23">23+ Years Old</label>
    <input type="checkbox" name="children-23" id="children-23" value="children-23">
    <label for="children-0">None</label>
    <input type="checkbox" name="children-0" id="children-0" value="children-0">
  </fieldset>
