<fieldset>
  <legend>Are you a student?</legend>
  <label for="student">Yes</label>
  <input type="checkbox" name="student" id="student" value="student">
</fieldset>
<fieldset>
  <legend>Work Status</legend>
  <label for="work-fulltime">Employed: Full-Time</label>
  <input type="radio" name="work-fulltime" id="work-fulltime" value="work-fulltime">
  <label for="work-parttime">Employed: Part-Time</label>
  <input type="radio" name="work-parttime" id="work-parttime" value="work-parttime">
  <label for="work-unemployed">Unemployed</label>
  <input type="radio" name="work-unemployed" id="work-unemployed" value="work;-unemployed">
</fieldset>
<fieldset>
  <legend>Yearly Household Income</legend>
  <label for="income-050">Up to $50K</label>
  <input type="radio" name="income-050" id="income-050" value="income-050">
  <label for="income-51100">$51 - $100K</label>
  <input type="radio" name="income-51100" id="income-51100" value="income-51100">
  <label for="income-101150">$101 - $150K</label>
  <input type="radio" name="income-101150" id="income-101150" value="income-101150">
  <label for="income-151">More than $150K</label>
  <input type="radio" name="income-151" id="income-151" value="income-151">
</fieldset>
