
<fieldset>
  <legend>Do you, or someone in your household, use any of the following services?</legend>

  <input type="checkbox" name="services" id="services-mental" value="services-mental"><label for="services-mental">Mental Health Services</label>
<br>
  <input type="checkbox" name="services" id="services-physical" value="services-physical">  <label for="services-physical">Services for Physical Disabilities</label>
</fieldset>
