<fieldset>
  <legend>Your prefered type of transportation is:</legend>

  <input type="checkbox" name="transport" id="transport-car" value="transport-car">  <label for="transport-car"> Car</label>
  <br>
  <input type="checkbox" name="transport" id="transport-bus" value="transport-bus">  <label for="transport-bus"> Bus</label>
  <br>
  <input type="checkbox" name="transport" id="transport-tram" value="transport-tram"><label for="transport-tram"> Tram</label>
  <br>
  <input type="checkbox" name="transport" id="transport-other" value="transport-other"><label for="transport-other"> Other</label>
</fieldset>
