
  <fieldset>
    <legend>Where are you living?</legend>
    <label for="live-metro">Melbourne</label>
    <input type="radio" name="live-metro" id="live-metro" value="live-metro">
    <label for="live-region">Regional Victoria</label>
    <input type="radio" name="live-region" id="live-region" value="live-region">
  </fieldset>
  <fieldset>

 
