<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
    <link rel='stylesheet' href='/stylesheets/custom.css' />
  </head>
  <body>
    <% include ./partials/navbar.ejs %>
    <form method="post" action="/">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Basic details
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <% include ./partials/search-form-1.ejs %>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              Location
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            <% include ./partials/search-form-2.ejs %>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
              Ocupation
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            <% include ./partials/search-form-3.ejs %>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFour">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
              Legal status
            </a>
          </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingFour">
          <div class="panel-body">
            <% include ./partials/search-form-4.ejs %>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFive">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
              Lifestyle
            </a>
          </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingFive">
          <div class="panel-body">
            <% include ./partials/search-form-5.ejs %>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingSix">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
              Ipsum Lorem
            </a>
          </h4>
        </div>
        <div id="collapseSix" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingSix">
          <div class="panel-body">
            <% include ./partials/search-form-6.ejs %>
          </div>
        </div>
      </div>
    </div>
       <div class="text-center">
         <button type="submit" class="btn btn-primary">Search</button> <br><span class="get-pie">(and get pie!)</span>
       </div>
   </form>

    <div id="results">
    </div>



    <footer>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
      <script type="text/javascript" src="/javascripts/assets/bootstrap.min.js"></script>
      <script type="text/javascript" src="/javascripts/lib/underscore.js"></script>
      <script type="text/javascript" src="/javascripts/lib/backbone.js"></script>
      <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
      <script type="text/javascript" src="/javascripts/models/budget.js"></script>
      <script type="text/javascript" src="/javascripts/collections/budgets.js"></script>
      <script type="text/javascript" src="/javascripts/views/budget-view.js"></script>
      <script type="text/javascript" src="/javascripts/views/budgets-view.js"></script>
      <script type="text/javascript" src="/javascripts/routers/router.js"></script>
      <script type="text/javascript" src="/javascripts/bb-app.js"></script>
      <script type="text/javascript" src="/javascripts/d3-helper.js"></script>

    </footer>
  </body>
</html>
