
    <div class="card">
        <div class="face front">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"><%= title %></h4>
              <h5>Department of CTM</h5>
            </div>
            <div class="panel-body fixed-panel">
              <div class="chart" id="<%= title.replace(/\s/g, '-') + '-1' %>"></div>

              <h5>
                Investment <br> <span class="label label-default">$<%= (dollarsThisYear / 1000000).toFixed(1) %> mil</span>
              </h5>

              <h5> <span style="color:#F6A200; font-weight:600"><%= (budgetPercent * 100).toFixed(1) %>%</span> of Department Budget </h5>


              <div class="benefit-description">
                <%= benefits[0] %>
              </div>
            </div>
             <div class="panel-footer">
               <div id="flipControl" class="btn btn-link flipControl"><a class="flipLink">Learn more</a></div>
             </div>
          </div>

        </div>
        <div class="face back">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"><%= title %></h4>
              <h5>Department of CTM</h5>
            </div>
            <div class="panel-body fixed-panel">
              <div class="chart" id="<%= title.replace(/\s/g, '-') + '-2' %>"></div>
                <h5>Percentage change from last year <br>
                  <span class="label label-default"><%= ((dollarsThisYear / dollarsLastYear - 1) * 100).toFixed(1) %> %</span>
                </h5>
              <div class="benefit-description">
                <div class="benefit-description">
                  <% if (benefits[1]) { %>
                    <p><%= benefits[1] %></p>
                  <% } %>

                  <% if (benefits[2]) { %>
                    <p><%= benefits[2] %></p>
                  <% } %>
                </div>
              </div>
            </div>
             <div class="panel-footer">
               <div id="flipControl" class="btn btn-link  flipControl"><a class="flipLink">Back</a></div>
             </div>
          </div>
        </div>
    </div>
