
    <div class="card">
        <div class="face front">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><%= title %></h3>
            </div>
            <div class="panel-body fixed-panel">
              <div class="chart" id="<%= title.replace(/\s/g, '-') + '-1' %>"></div>
              <h4>
                Investment <br> <span class="label label-default">$ <%= dollarsThisYear %></span>
              </h4>
              <div class="benefit-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Mauris laoreet ex vel orci lobortis sagittis.
                Nam fringilla erat eros. Curabitur rhoncus convallis
                mauris bibendum facilisis.
              </div>
            </div>
             <div class="panel-footer">
               <div id="flipControl" class="btn btn-link flipControl"><a class="flipLink">Learn more</a></div>
             </div>
          </div>

        </div>
        <div class="face back">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><%= title %></h3>
            </div>
            <div class="panel-body fixed-panel">
              <div class="chart" id="<%= title.replace(/\s/g, '-') + '-2' %>"></div>
                <h4>Percentage change from last year <br>
                  <span class="label label-default"><%= ((dollarsThisYear / dollarsLastYear - 1) * 100).toFixed(1) %> %</span>
                </h4>
              <div class="benefit-description">
                <div class="benefit-description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Mauris laoreet ex vel orci lobortis sagittis.
                  Nam fringilla erat eros. Curabitur rhoncus convallis
                  mauris bibendum facilisis.
                </div>
              </div>
            </div>
             <div class="panel-footer">
               <div id="flipControl" class="btn btn-link  flipControl"><a class="flipLink">Back</a></div>
             </div>
          </div>
        </div>
    </div>
